body{
    background: linear-gradient(to right, #8360c3, #2ebf91);
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    width: 100%;
    text-shadow: 0.5px 0.5px white;
}

form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#input-box input{
    margin-top: 10px;
    padding: 10px;
    font-family: 'Verdana';
    min-width: 30%;
    width: 40%;
}

button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 9.5px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    transition: background-color 0.25s;
}

button:hover{
    background-color: #2ebf91;
    cursor: pointer;
}

#image-container{
    margin-bottom: 15px;
    padding: none;
}

#image-container img{
    width: 20%;
    height: 20%;
    box-shadow: 0px 0px 5px 3px white;
}

#pred{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

#output{
    text-align: center;
    height: fit-content;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow: hidden;
}

#summary{
    border: 2px solid black;
    border-radius: 5px;
}

#pos_score{
    background-color: #99ff99;
}

#neg_score{
    background-color: #ff9999;
}

#score_bar{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

#prev_inputs{
    float: right;
    width: 20%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.prev_input{
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.rating{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 5px;
}
